@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .indicator{
    @apply relative tracking-[1px] 
  }
  .indicator::after {
    @apply content-[''] bg-[#1079ea] h-[2px] w-[0%]  
    left-0 -bottom-[5px] rounded-xl absolute duration-300
  }
  .indicator:hover::after {
    @apply w-[100%]
  }
}

body::-webkit-scrollbar {
  width: 10px;
  background-color:#091a28;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(49, 49, 90);
  border-radius: 5px;
}

.card-img {
  transform: translateY(0%);
  transition: transform 10s ease-in-out 0s;
  box-sizing: border-box;
  cursor: pointer;
}

.card-img:hover {
  transform: translateY(-85%);
}

