@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .indicator{
    @apply relative tracking-[1px] 
  }
  .indicator::after {
    @apply content-[''] bg-[#1079ea] h-[2px] w-[0%]  
    left-0 -bottom-[2px] rounded-xl absolute duration-300
  }
  .indicator:hover::after {
    @apply w-[100%]
  }
}

body::-webkit-scrollbar {
  width: 8px;
  background-color:#eaeef1;
}

.dark body::-webkit-scrollbar {
  width: 8px;
  background-color:#091a28;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(78, 78, 86);
  border-radius: 5px;
}

.card-img {
  transform: translateY(0%);
  transition: transform 10s ease-in-out 0s;
  box-sizing: border-box;
  cursor: pointer;
}

.card-img:hover {
  transform: translateY(-85%);
}

body{
  background-color:#f1f5f8; 
}

.dark {
  background-color: #091a28;
}

.typed-cursor {
  color: rgb(31, 41, 55);
}

.dark .typed-cursor {
  color: white;
}

@media screen and (min-width: 640px) {
  .typed-cursor{
    font-size:35px;
    padding-left: 5px;
  }
}


@media screen and (min-width: 768px) {
  .typed-cursor{
    font-size:40px;
    padding-left: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .typed-cursor{
    font-size:50px;
    padding-left: 5px;
  }
}

@media screen and (min-width: 1201px) {
  .typed-cursor{
    font-size:60px;
    padding-left: 5px;
  }
}